<mat-toolbar>

  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
        menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
        close
    </mat-icon>
</button>
UK resident
  </mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav="matSidenav" mode="side" opened>

    <ng-container *ngIf="isLoggedIn">

      <button mat-button class="menu-button" routerLink="offer">
        <mat-icon>home</mat-icon>
        <span>Offer accomodation</span>
      </button>
      <br>
      <br>

      <button mat-button class="menu-button" routerLink="edit">
        <mat-icon>home</mat-icon>
        <span>Edit offered accomodation</span>
      </button>
      <br>
      <br>
      
      <button mat-button class="menu-button" routerLink="account">
        <mat-icon>account_circle</mat-icon>
        <span>Edit account</span>
      </button>
      <br>
      <br>

      <!---
      <button mat-button class="menu-button" routerLink="recommend">
        <mat-icon>local_activity</mat-icon>
        <span>Recommend community services</span>
      </button>
      <br>
      <br>
      --->


      <button mat-button class="menu-button" routerLink="/">
        <mat-icon>arrow_back</mat-icon>
        <span>Back</span>
      </button>

    </ng-container>

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!---icon list https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/ -->